<section>
    <article class="aviso">
        ⭐the JoJo's API is free, to help us with our projects via donation⭐
    </article>
    <article>
        <h2>about:</h2>
        <p>

            jojo api was created with the aim of creating a "jojo pokedex", it contains data from the booths of part 3
            of the work and soon we will have from all other parts
        </p>


        <p>
            JoJo's Bizarre Adventure (ジ ョ JoJo no Kimyō na Bōken) is a Japanese manga written and illustrated by
            Hirohiko Araki. The manga was published by Shueisha in their Weekly Shōnen Jump magazine between 1987 and
            2004, and from 2004 by seinen magazine Ultra Jump.
        </p>

        <h2>history</h2>
        <p>
            JoJo's tells the story of the Joestar family, a family whose many members discover they are destined to take
            down supernatural enemies such as Dio Brando a semi-immortal vampire, Yosigaki Kira a serial killer and
            Diavolo a gang leader using unique powers they possess. It is divided into 8 unique parts, each following
            the story of a member of the Joestar family, which inevitably has a name that can be shortened to the
            titleholder "JoJo". The first six parts of the series take place on a single continuum, while parts 7 and 8
            take place on an alternate continuum.

        </p>

        <h3>stands</h3>
        <p>A Stand (スタンド Sutando) is a supernatural power from the manga and anime JoJo's Bizarre Adventure. When first
            introduced in part 3 of the manga, Joseph Joestar refers to the Stand as "spiritual manifestation"
            (幽波紋（スタンド) Sutando), but if written without the furigana it is pronounced you hamon; in a way it can be said
            that the Stand is the physical manifestation of the Hamon powers from series 1 and 2 of the manga. Giorno
            Giovanna from part 5 says that the Stand is an unconscious part of each person's mind and that each one has
            its power varying from the person's personality (if the person is good, the Stand's power is good; if the
            person is bad , the same is liable to happen to your Stand Power).

            The exact requirements for a person to obtain a Stand are not clear, however the series indicates that there
            may be a manifestation of the Stand as a result of: bloodline, rigorous spiritual training of Hamon,
            exceptional willpower or else being reached (a) by the tip of the Arrow. But it is proven that a Stand never
            manifests itself without certain conditions and factors.

            One of the main factors and most common way of Stand apparitions is to pierce yourself with Stand Arrows
            created from a strange meteorite. However, this technique is a "shot in the dark", because if a certain
            person hit by the arrow is someone unqualified to have a Stand, this one is subjected to death – although
            the arrows tend to look for qualified people or someone to guide them.

            Another condition for amplifying the powers is simply being or socializing with other Stand users, as is the
            case with the character Trish Una and her Stand Spice Girl from part 5 of the manga, Golden Wind. If a
            person already using a Stand has their body pierced by a specific arrow (known by fans as the beetle arrow)
            through the Stand, the result will be the evolution of the Stand to the Requiem form. However, to awaken
            this evolved form of a Stand, it is necessary to be "chosen" once more by the Arrow, which is not like being
            chosen to gain a Stand. When the arrow hits someone who already has a Stand (if it hits the user instead of
            hitting the Stand) that person will gain a new skill. But there's only been one case of this type in the
            manga, so it's hard to prove if that's what actually happens.</p>
    </article>




</section>