<header>
    <a href="/">
        <div class="navleft"><img src="../img/logo.png" alt="image"></div>
    </a>
    <div class="navright">

        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/howtouse">how to use</a></li>
        </ul>
    </div>
</header>
<div id="banner">
    <div class="capa"></div>
    <h2>jojo's api</h2>
    <p>The API of jojo's bizarre adventures</p>
    <p><span id="users">
</div>
<aside>
    <ul>
        <li><a href="/guide">stands guide</a></li>
        <li><a href="/hexagraph">hexagonal graph</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/howtouse">how to use</a></li>


    </ul>
</aside>