<section>
    <article class="aviso">
        ⭐the JoJo API is free, to help us with our projects via donation⭐
    </article>
    <article class="hexagraph">
     <h2>Hexagraph</h2>
   
<p>
the hexagraph is a radar chart,
A radar chart is a graphical method of presenting multivariate data in the form of a two-dimensional graph of three or more quantitative variables plotted on axes that start from the same point. The relative position and angle of the axes is usually uninformative.

The radar chart is also known as web chart, spider chart, star chart (jojo reference?)
</p>

<p>
in JoJo the radar chart is used to classify the skill levels of the stands, namely: POWER, PRECISION, DURABILITY, RANGE, POTENTIAL and SPEED
</p>
<p style="color:rgb(255, 0, 255)"> this is the default image to use on the canvas, others can be used as long as they are square 600x600 </p>

<img src="http://pm1.narvii.com/6539/2af5d814ffd06101c415d49124e62752b1d440c8_00.jpg" alt="graph">
    </article>



    </section>
     