<section>
    <article class="aviso">
        ⭐the JoJo API is free, to help us with our projects via donation⭐
    </article>
<article>
    <h2>basic use:</h2>
    <p>
        an example of how to use the API in JavaScript (but it is possible to do with other languages)
        let's use fetch
    </p>
<p>
    <ul style="margin: 0; padding: 0; list-style: circle; margin-left: 100px;">
        <li>get the api link <a href="/jojostands" style="color: red;">here</a> </li>
        <li>use link in fetch:
        <pre>
fetch(url)
.then((res)=>
{res.json()})
.then((data)=>
{console.log(data)})

        </pre>    
        
        </li>
        <li>
            take one stand at a time:          
               <span style="font-weight: bold; color:aqua">/stand/number</span> 
                <p>
                    (the stand number can be found in the stand guide)
                    use these parameters:
                </p>
        </li>
    </ul>
</p>

</article>
<article>
<h2>returned data:</h2>
<p>the stand data is returned in an Array</p>
<pre>
    [
    {"id":"",
    "name":"",
    "user":"",
     ...   },
     {...},
     {...}
    ]
</pre>
</article>



    </section>