<section>
    <article class="aviso">
        ⭐the JoJo API is free, to help us with our projects via donation⭐
    </article>
<article>
    <p>
        an example of how to use the API in JavaScript (but it is possible to do with other languages)
        let's use fetch
    </p>
<p>
    <ul>
        <li>get the api link <a href="/jojostands" style="color: red;">here</a> </li>
        <li>use link in fetch:
        <pre>
fetch(url)
.then((res)=>{res.json()})
.then((data)=>{console.log(data)})

        </pre>    
        
        </li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</p>

</article>




    </section>