<section>
    <article class="aviso">
        ⭐the JoJo API is free, to help us with our projects via donation⭐
    </article>
    <article class="apilink">
     <h2>api link</h2>
     <p>to use the API use this link with json </p>
<input type="text" name="link" id="link" readonly>
    </article>
    </section>