<section>
    <article class="aviso">
        ⭐the JoJo API is free, to help us with our projects via donation⭐
    </article>
    
    <article class="apilink">
        <h2>atualizations:</h2>
        <ul>
            
        </ul>
    </article>
    </section>