<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/img/favicon-erro.ico" type="image/x-icon">
    <title>Error
        <%=status%>
    </title>
</head>

<body>

    <div id="erro">
        <h1>erro
            <%=status %>
        </h1>
        <img style="width: 30%;" src="https://i.kym-cdn.com/photos/images/original/000/754/598/f39.png" alt="dio">
        <p>you expected a normal page, too bad it was me! erro:
            <%=status%>
        </p>
        <p>
            <%=msg%>
        </p>
        <a href="/home">return</a>
    </div>
    <script>
    </script>
</body>