<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="shortcut icon" href="./img/favicon-erro.ico" type="image/x-icon">
    <title>Error <%=erro%></title>
</head>
<body>

    <div id="erro">
        <h1>erro <%=erro  %> </h1>
        <img style="width: 40%;" src="https://www.seekpng.com/png/full/162-1620837_tumblr-odbr6rwwrv1v1d5mlo1-500-but-it-was-me-dio.png" alt="dio">
        <p>you expected a normal page, too bad it was me! erro <%=erro%></p>
        <p><%=msg  %> </p>
    </div>
</body>