<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/login.css">
    <title>login</title>
</head>

<body>
    <div id="teladelogin">
        <h2>login</h2>
        <form action="/auth" method="POST">

            <input type="text" name="email" maxlength="100" placeholder="email" required>
            <input type="password" name="password" maxlength="100" placeholder="senha" required>
        
            </p>
       
            <button>
        entrar
     </button>
        </form>

    </div>
    <script>
  
    </script>
</body>

</html>